<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <% include ../../partials/auth/header.ejs %>
</head>

<body class="login-page">
    <!-- Navbar -->
    <% include ../../partials/auth/nav.ejs %>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page ">
        <div class="full-page section-image" filter-color="black" data-image="../../assets/img/bg/fabio-mangione.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                        <div class="card card-login">
                            <div class="card-header ">
                                <div class="card-header ">
                                    <h3 class="header text-center">Login</h3>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-single-02"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="nc-icon nc-key-25"></i>
                                        </span>
                                    </div>
                                    <input type="password" id="password" placeholder="Password" class="form-control">
                                </div>
                                <br />
                            </div>
                            <div class="card-footer ">
                                <button class="btn btn-warning btn-round btn-block mb-3" onclick="login()">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../../partials/auth/footer.ejs %>
        </div>
    </div>
    <% include ../../partials/auth/footer_js_core.ejs %>
    <script src="/assets/js/enums.js"></script>
    <script src="/assets/js/module.js"></script>
    <script src="/assets/js/auth/login.js"></script>
</body>
</html>