<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <h2>Database Results</h2>

    <ul>
      <% results.forEach(function(post) { %>
      <li><%= post.id %> - <%= post.title %></li>
      <% }); %>
    </ul>

  </div>

</body>

</html>